@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Yeni Kullanıcı Ekle";
}

<h2>Yeni Kullanıcı Ekle</h2>

<form asp-controller="User" asp-action="Create" method="post">
    <div class="mb-3">
        <label for="UserName" class="form-label">Kullanıcı Adı</label>
        <input type="text" class="form-control" asp-for="UserName" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="PasswordHash" class="form-label">Şifre</label>
        <input type="password" class="form-control" asp-for="PasswordHash" />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Role" class="form-label">Rol Seçin</label>
        <select class="form-control" asp-for="Role">
            <option value="User">User</option>
            <option value="Admin">Admin</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

