@model User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kullanıcı Düzenle</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label for="UserName" class="form-label">Kullanıcı Adı</label>
        <input type="text" class="form-control" asp-for="UserName" /> <!-- Kullanıcı adı artık değiştirilebilir -->
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="PasswordHash" class="form-label">Yeni Şifre (Opsiyonel)</label>
        <input class="form-control" asp-for="PasswordHash" placeholder="Yeni şifre girin veya boş bırakın" />
        <span asp-validation-for="PasswordHash" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
